<div class="main ingredients-index">
  <div class="container">
    <h2 class="ingredients-heading">登録中の食材</h2>
    <% @ingredients.each do |ingredient| %>
      <div class="ingredients-index-item">
        <div class="ingredients-right">
        <%= ingredient.name %> / <%= ingredient.category %>/ <%= ingredient.quantity %><%= button_to("削除", "/ingredients/#{ingredient.id}",method: :delete) %>
        </div>
      </div>
    <% end %>
  </div>
</div>