<div class="main ingredients-index">
  <div class="container">
    <h2 class="ingredients-heading">登録中の食材</h2>
    <% @ingredients.each do |ingredient| %>
      <div class="ingredients-index-item">
        <div class="ingredients-right">
        <%= ingredient.name %> / <%= ingredient.category %>/ <%= ingredient.quantity %>
        </div>
        <div class="ingredients-delete">
        <%= link_to("削除", "/ingredients/#{@ingredient.id}/destroy", {method: "post"}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>