  
<div class="main top-main">
    <div class="top-message">
      <h2>今日は何を作ろう？</h2>
    </div>

  <div class="contents">
    <div><%= @random_carbohydrates %></div>
    <p>&</p>
    <div><%= @random_vegetable %></div>
    <p>&</p>
    <div><%= @random_protein %></div>
  </div>
    
  <p class="reload-message">ページをリロードすると他の組み合わせも提案するよ！</p>
</div>

